spring:
  datasource:
    url:
    username:
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  # --- Flyway ---
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  mail:
    host: "smtp.gmail.com"
    port: 587
    username:
    password:
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.transport.protocol: smtp
logging:
  level:
    com.farmatodo.ecommerce: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG

security:
  api-key:
  jwt:
    secret-key:
    expiration-ms: 3600000
  encryption:
    aes-key:
    aes-iv:
api:
  base-url: http://localhost:8080/api/v1