spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: ${EMAIL_HOST:smtp.gmail.com}
    port: ${EMAIL_PORT:587}
    username: ${EMAIL_USER}
    password: ${EMAIL_PASS}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.transport.protocol: smtp

  flyway:
    enabled: true
    locations: classpath:db/migration

logging:
  level:
    com.farmatodo.ecommerce: INFO
    org.springframework.web: WARN
    org.springframework.security: WARN

security:
  api-key: ${API_SECRET_KEY}
  jwt:
    secret-key: ${JWT_SECRET_KEY}
    expiration-ms: ${JWT_EXPIRATION_MS:3600000}
  encryption:
    aes-key: ${AES_KEY}
    aes-iv: ${AES_IV}
api:
  base-url: ${API_BASE_URL}